################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KnowThatCountryAPI
/KnowThatCountryAPI/bin/Debug/netcoreapp3.1
/KnowThatCountryAPI/obj
/KnowThatCountryUI/node_modules
